@using Emreraslan.Core.Entities;

@{
    var selectedProducts = ViewData["SelectedProduct"] as List<Product>;
    var wishProducts = ViewData["WishListProduct"] as List<Product>;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AndShop</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.all.min.css" />
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" />
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" />
    <!-- animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/assets/css/color.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @RenderSection("StyleSheets",false)

</head>

<body>
    <!-- Preloader Area -->
    <div id="preloader">
        <div id="status">
            <img src="~/assets/img/loader.gif" alt="img">
        </div>
    </div>
    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <ul class="top-header-contact-info">                        
                    </ul>
                </div>
                <div class="col-lg-6 col-md-5">
                    <ul class="top-header-menu">                       
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="/UserPanel/Dashboard/Index">My Account</a></li>                                
                                <li><a href="/VendorPanel/Dashboard/Index">Vendor</a></li>
                            }
                            else
                            {
                                <li><a href="/User/SignUp">Register</a></li>
                                <li><a href="/User/Login">Login</a></li>
                            }
                        }
                    </ul>                   
                </div>
            </div>
        </div>
    </div>

    <!-- Navebar Area -->
    <div class="navbar-area">
        <div class="drodo-responsive-nav">
            <div class="container">
                <div class="drodo-responsive-menu">
                    <div class="logo">
                        <a href="/Home/Index">
                            <img src="~/assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="drodo-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/Home/Index">
                        <img src="~/assets/img/logo.png" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Home <i class='fas fa-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="index.html" class="nav-link">Cosmetic</a></li>
                                    <li class="nav-item"><a href="furniture.html" class="nav-link"> Furniture</a></li>
                                    <li class="nav-item"><a href="electronics.html" class="nav-link">Electronics</a></li>
                                    <li class="nav-item"><a href="grocery.html" class="nav-link">Sports</a></li>                                   
                                </ul>
                            </li>                            
                            <li class="nav-item"><a href="/Home/AboutUs" class="nav-link">About Us</a></li>                                                        
                            <li class="nav-item">
                                <a href="/Home/ContactUs" class="nav-link">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                        <div class="others-option">
                            <div class="option-item">
                                <div class="wishlist-btn">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingWishlistModal">
                                        <i class='far fa-heart'></i>
                                    </a>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="cart-btn">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#shoppingCartModal">
                                        <i class='fas fa-shopping-bag'></i>@{
                                            if(selectedProducts != null)
                                            {
                                                <span>@selectedProducts.Count</span>
                                            }
                                            else
                                            {
                                                <span>0</span>
                                            }
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="option-item">
                                <div class="search-btn-box">
                                    <i class="fas fa-search search-btn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Search Area -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="submit"><i class="fas fa-search search-btn"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>    

    <!-- footer Area -->
    <footer id="footer_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="footer_left_side">
                        <a href="#!"><img src="~/assets/img/logo.png" alt="logo"></a>
                        <div class="footer_left_side_icon">
                            <ul>
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/emre-eraslan/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="footer_one_widget">
                        <h3>INFORMATION</h3>
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="/Home/AboutUs">About Us</a></li>
                            <li><a href="/Home/PrivacyPolicy">Privacy Policy</a></li>
                            <li><a href="/Home/FrequentlyQuestions">Frequently Questions</a></li>
                            <li><a href="order-tracking.html">Order Tracking</a></li>
                        </ul>
                    </div>
                </div>                
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="footer_one_widget">
                        <h3>NEWSLETTER</h3>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form>
                                <div class="mc-form">
                                    <input class="form-control" type="email" required="" placeholder="Your Mail*"
                                           name="EMAIL" value="">
                                    <div class="clear">
                                        <button class="theme-btn-one btn_md" type="submit" name="subscribe" value="">
                                            <i class="icon-cursor"></i> Send Mail
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- CopyRight Area -->
    <section id="copyright_one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="copyright_left">
                        <h6>
                            © emreraslan.com 2024
                            <span>AndShop</span>
                        </h6>
                    </div>
                </div>                
            </div>
        </div>
    </section>

    <!-- Shopingcart Modal Area Start-->
    <div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    @{
                        if (selectedProducts != null)
                        {
                            <h3>My Chart (@selectedProducts.Count)</h3>
                        }
                        else
                        {
                            <h3>My Chart (0)</h3>
                        }
                    }
                    
                    @{
                        if(selectedProducts != null)
                        {
                            if (selectedProducts.Count > 0)
                            {
                                foreach (var prod in selectedProducts)
                                {
                                    <div class="products-cart-content">
                                        <div class="products-cart d-flex align-items-center">
                                            <div class="products-image">
                                                @{
                                                    if (prod != null)
                                                    {
                                                        <a href="/Home/ProductSingle/@prod.Id"><img src="@prod.PhotoPath" alt="image"></a>
                                                    }
                                                }
                                            </div>
                                            <div class="products-content">
                                                <h3><a href="/Home/ProductSingle/@prod.Id">@prod.Name</a></h3>
                                                <div class="products-price">
                                                    <span>1</span>
                                                    <span>x</span>
                                                    <span class="price">
                                                        @{
                                                            if (prod.Discount > 0)
                                                            {
                                                                decimal discountedPrice = prod.Price - (prod.Price * prod.Discount / 100);
                                                                <span>@discountedPrice.ToString("0.##") ₺</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@prod.Price.ToString("0.##") ₺</span>
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                            <a href="/Home/RemoveFromCart/@prod.Id" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                    <div class="products-cart-subtotal">
                        <span>Subtotal</span>
                        
                        @{
                            decimal total = 0;
                            if(selectedProducts != null)
                            {
                                foreach (var prod in selectedProducts)
                                {

                                    if(prod.Discount > 0)
                                    {
                                        decimal Discounted = prod.Price - (prod.Price * prod.Discount / 100);
                                        total += Discounted;
                                    }
                                    else
                                    {
                                        total += prod.Price;
                                    }
                                }
                                <span class="subtotal"> @total.ToString("0.##") ₺</span>
                            }
                            else
                            {
                                <span class="subtotal">0 ₺</span>
                            }
                        }                        

                    </div>
                    <div class="products-cart-btn">
                        <a href="/Home/CreateOrder" class="theme-btn-one btn-black-overlay btn_md">Satın Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Wishlist Modal Area Start-->
    <div class="modal right fade shoppingWishlistModal" id="shoppingWishlistModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    @{
                        if (wishProducts != null)
                        {
                            <h3>My Wishlist (@wishProducts.Count)</h3>
                        }
                        else
                        {
                            <h3>My Wishlist (0)</h3>
                        }

                        if(wishProducts != null)
                        {
                            if(wishProducts.Count > 0)
                            {
                                foreach(var prod in wishProducts)
                                {
                                    <div class="products-cart-content">
                                        <div class="products-cart d-flex align-items-center">
                                            <div class="products-image">
                                                <a href="/Home/ProductSingle/@prod.Id"><img src="@prod.PhotoPath" alt="image"></a>
                                            </div>
                                            <div class="products-content">
                                                <h3><a href="/Home/ProductSingle/@prod.Id">@prod.Name</a></h3>
                                                <div class="products-price">
                                                    <span>1</span>
                                                    <span>x</span>
                                                    @{
                                                        if (prod.Discount > 0)
                                                        {
                                                            decimal discountedPrice = prod.Price - (prod.Price * prod.Discount / 100);
                                                            <span>@discountedPrice.ToString("0.##") ₺</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@prod.Price.ToString("0.##") ₺</span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <a href="/Home/RemoveFromWishlist/@prod.Id" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                                        </div>                                                                               
                                    </div>
                                }
                            }
                        }
                        <div class="products-cart-btn">
                            <a href="wishlist.html" class="theme-btn-one btn-black-overlay btn_md">Wishlist</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- owl carousel js -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Menu js -->
    <script src="~/assets/js/meanmenu.min.js"></script>
    <!-- Count js -->
    <script src="~/assets/js/count.js"></script>
    <!-- Timer js -->
    <script src="~/assets/js/nice-select.min.js"></script>
    <!-- wow.js -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="~/assets/js/custom.js"></script>

    @RenderSection("Scripts",false)

</body>

</html>