
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}

@model Emreraslan.Core.Entities.User;

<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="myaccount-content">
                <h4 class="title">Billing Address</h4>
                <div class="billing_address">
                    <h5><strong>@Model.Name @Model.Surname</strong></h5>
                    <p>
                        @Model.Address
                    </p>
                    <p>Mobile: @Model.PhoneNumber</p>
                    <a href="account-info-edit.html" class="theme-btn-one bg-black btn_sm">
                        Edit
                        Address
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="myaccount-content">
                <h4 class="title">Shipping Address</h4>
                <div class="billing_address">
                    <h5><strong>@Model.Name @Model.Surname</strong></h5>
                    <p>
                        @Model.Address
                    </p>
                    <p>Mobile: @Model.PhoneNumber</p>
                    <a href="account-info-edit.html" class="theme-btn-one bg-black btn_sm">
                        Edit
                        Address
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

